@import './core/reset.sass';
@import './core/variables.sass';


.ppal_container
  padding: 10rem
.separator
  margin: 1rem 0
.title 
  color: #3939ab
  font-size: 16px
.flex_column_center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.flex_column_space
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.text--center
  text-align: center
.searcher
  display: flex
  justify-content: flex-end
  .searcher__results
    background-color: #3939ab
    border-radius: 5px
    padding: 5px
    color: white
    margin: 0 5px 0 0 
    font-size: 10px
  .searcher__input
    padding: 5px
    border: 1px solid $borderColorOpacity