.ppal_container
  padding: 1em
.title 
  color: #3939ab
  font-size: 12px
.searcher
  display: flex
  justify-content: flex-end
  .searcher__results
    background-color: #3939ab
    border-radius: 5px
    padding: 5px
    color: white
    margin: 0 5px 0 0 
    font-size: 10px