@import './core/reset.sass';
@import './core/variables.sass';


.ppal_container
  padding: 10rem
.separator
  margin: 1rem 0
.title 
  color: #3939ab
  font-size: 16px
  text-decoration: none
.flex_column_center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.flex_column_space
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.text--center
  text-align: center
