*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.text__center{
  text-align: center;
}
.flex_column_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_column_space{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-decoration-none{
  text-decoration: none;
}